.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.checkoutProduct_info {
    padding-left: 40px;
    padding-top: 40px;
}

.checkoutProduct_info > button {
    background: #8768bf;
    border: 1px solid;
    margin-top: 10px;
    border: 1px solid black;
    color: white;
}

.checkoutProduct_info > button:hover {
    background-color: purple;
}


.checkoutProduct_image {
    padding-left: 15px;
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}